.clear {
    clear: both;
}

.requiredindicator {
    color: red;
}

#customer-table,
#notifications-table {
    border-collapse: collapse;
}

#customer-table td,
#customer-table th,
#notifications-table td,
#notifications-table th,
{
    padding: 5 px 15 px;
    border: 1 px solid grey;
    text-align: center;
}

tr.table-head {
    background-color: #DDD;
}

.errorlabel {
    color: red;
    font-weight: bold;
}

.form-row.status {
    margin: 5px 0;
    height: 18px;
}

.form-row.status .value {
    font-weight: bold;
}

.filters .form-row {
    margin: 5px 0;
}

.filters .left {
    float: left;
}

.form-row .label, .form-row span {
    float: left;
    text-align: right;
    padding-right: 15px;
}
.infobox_item_search .form-row label {
	display: none;
}

.form-row .value {
    float: left;
}

.form-row .value .input-text  {
    width: 100%;
}

.form-row .value .selectbox {
    width: 200px;
    margin-right: 5px;
}

.form-row .value .selectbox.sortdir {
    width: 100px;
}

.form-row .value #searchbtn {
    padding: 2px 10px;
    font-weight: bold;
}

.form-row textarea {
    width: 400px;
    height: 110px;
}

.form-section {
    clear: both;
    padding-bottom: 15px;
    border: 1px solid #DDD;
}

.form-section h2 {
    margin: 0 0 25px 0;
    padding: 5px 15px;
    background-color: #a7b4bc;
    color: #FFF;
}

.form-actions {
    clear: both;
    border: 1px solid #DDD;
    padding: 15px;
}

.form-actions button {
    margin-right: 15px;
    padding: 5px 25px;
    font-weight: bold;
}

.head {
    background-color: #DDD;
    border: 1px solid #DDD;
    padding: 15px;
}

.head h1 {
    margin: 0;
}

.head ul {
    margin: 0;
}

.infobox_title_search {
    padding: 5px;
}

.filter {
    width: 100px;
}

.colsp {
    width: 50%;
}

table {
    counter-reset: section;
}

.number:before {
    counter-increment: section;
    content: counter(section);
}

.orange {
    color: orange;
    font-weight: bold;
}

.red {
    color: red;
    font-weight: bold;
}

.green {
    color: green;
    font-weight: bold;
}

.gray {
	color: gray;
    font-weight: bold;
}

.NoBreak {
    white-space: nowrap;
}

.sizeLimit {
    word-break: break-all;
}

.sizedButtons {
    width: 100%;
}

.grayStartTable tr:nth-of-type(even), .whiteStartTable tr:nth-of-type(odd) {
    background: #eee
}
.grayStartTable tr:nth-of-type(odd), .whiteStartTable tr:nth-of-type(even){
    background: #fff
}

.buttonHolder {
    margin: 6px;
}

.leftDiv {
    float: left;
    margin: 20px 20px 20px 0;
}

.scheduleDateDiv {
    padding-bottom: 20px;
}

.expirationDateDiv {
    padding-top: 20px;
    vertical-align: bottom;
}

.pagination {
	display: table;
  	width: 100%;
  	box-sizing: border-box;
  	padding-top: 20px;
}
.pagination > * {
  display: table-cell;
}

.pagination> *:last-child {
  text-align: right;  
}

.results-hits {
    color: #666;
}

.pages * {
	display: inline-block;
}

.pages a {
	text-decoration: none;
}

.sizedTd {
	width: 30px;
}
.target {
	color: #84BD00;
}
label {
	font-weight: bold;
	color: #444;
}